<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card mode="ios" style="box-shadow: 10px 10px 5px 5px whitesmoke;">
    
        <ion-card-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input [(ngModel)]="user.FullName" name="FullName" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="user.Email" name="Email" type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Gender</ion-label>
        <ion-select [(ngModel)]="user.Gender" name="Gender">
          <ion-select-option value="1">Female</ion-select-option>
          <ion-select-option value="0">Male</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input [(ngModel)]="user.PhoneNumber" name="PhoneNumber" type="tel" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Profession</ion-label>
        <ion-select [(ngModel)]="user.Profession" name="Profession">
          <ion-select-option value="0">Student</ion-select-option>
          <ion-select-option value="1">Professional</ion-select-option>
          <ion-select-option value="2">Salaried</ion-select-option>
          <ion-select-option value="3">Self Employed</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Date of Birth</ion-label>
        <ion-datetime isplay-format="DD/MM/YYYY" name="DateOfBirth" [(ngModel)]="user.DateOfBirth">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Date of Anniversary</ion-label>
        <ion-datetime isplay-format="DD/MM/YYYY" name="DateOfAnniversary" [(ngModel)]="user.DateOfAnniversary">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <div id="recaptcha-container"></div>
      </ion-item>
      <!-- <ion-item> -->
        <ion-button (click)="sendOTP()" padding="true"  expand="full" shape="round"color="secondary">Send OTP</ion-button>
      <!-- </ion-item> -->
      <ion-item *ngIf="confirmationResult!=null">
        <ion-label position="floating">OTP</ion-label>
        <ion-input [(ngModel)]="user.Password" name="Password" type="password" required></ion-input>
      </ion-item>
      <ion-item *ngIf="confirmationResult!=null">
        <ion-button (click)="verifyNumber()" padding="true"  expand="full" shape="round" color="secondary">Verify OTP</ion-button>
      </ion-item>
      <!-- <ion-item>{{message}}</ion-item> -->
    </ion-list>
    <!-- <ion-button (click)="onClick()">Click</ion-button>
    <p>{{user | json }}</p> -->
    <!-- <ion-button (click)="register()">Register</ion-button> -->
  </form>
  </ion-card-content>
  </ion-card>
</ion-content>