<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Coupons</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  <!-- <ion-card color="tertiary" mode="ios"> -->
     
  <ion-card mode="ios" style="box-shadow: 10px 10px 5px 5px whitesmoke;">
  
      <ion-item>
        <ion-item item-start no-lines>
            <h2>40 % Discount</h2>
        </ion-item>
        <ion-item item-end no-lines>
            <p>November 8, 2018</p>
        </ion-item>
     
        
      </ion-item>
    
      <!-- <img src="img/advance-card-bttf.png"> -->
    
      <ion-card-content>
        <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
      </ion-card-content>
    
      
    
    </ion-card>
  </ion-content>